@page "/vehiculos"
<center>
    <h3>Ventas De Vehiculos RG.Alexis</h3>
    <link rel="shortcut icon" type="image/png" href="C:\Vehiculos20191413\Auto.png">
</center>
<hr>
<div id="Datos">
<br><br><br><br>
@* <label for="Nombre">Nombre</label> *@
<input type="text" placeholder="ID del coche" id="Nombre">
<br>
<br>
@* <label for="Marca">Marca</label> *@
<select name="" id="">
    <option value="">Nissan</option>
    <option value="">Mercedes Benz</option>
    <option value="">Mitsubishi</option>
    <option value="">Honda</option>
    <option value="">Ford</option>
    <option value="">Porsche</option>
</select>
<br>
<br>
@* <label for="Modelo">Modelo</label> *@
<select name="" id="">
    <option value="">2000</option>
    <option value="">2001</option>
    <option value="">2002</option>
    <option value="">2003</option>
    <option value="">2004</option>
    <option value="">2005</option>
    <option value="">2006</option>
    <option value="">2007</option>
    <option value="">2008</option>
    <option value="">2009</option>
    <option value="">2010</option>
    <option value="">2011</option>
    <option value="">2012</option>
    <option value="">2013</option>
    <option value="">2014</option>
    <option value="">2015</option>
</select>
<br>
<br>

    @* <label for="A単o">A単o</label> *@
<input type="text" placeholder="A単o del coche" id="A単o">
<br>
<br>
@* <label for="Color">Color</label> *@
<input type="color" name="" id="">

</div>



<br><br><br><br>

<center>
    <input type="Button" value="Eliminar">
    <input type="Button" value="Modificar">
    <input type="Button" value="Buscar">
    <input type="Button" value="Guardar">
    <hr>
    <a target="_blank" href="https://instagram.com/alexis_reynoso_garcia?r=nametag">Creador</a>
</center>